body {font-family: arial, sans-serif
padding auto;
color: black;
background-color:rgb(206, 206, 154);
}
nav {font-weight: bold;
    color: black;
    border: 2px solid orange;
    text-align: center;
    width: 10em;
    background-color: orange;}

nav ul {display: none;
    list-style: none;
    margin: 0
    padding auto;}

nav:hover ul{display: block;}
nav ul li {border-top: 2px solid orange;
        background-color: white;
        width: 10em;
        color: orange;}
nav ul li:hover {background-color: rgb(234, 220, 195);}
a {text-decoration: none;}